*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(62, 96, 111, 0.75);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: 0 auto;
}

.carre {
    width: 50px;
    height: 50px;
    background-color: #BABABA;
}

.petitcarre {
    width: 5px;
    height: 5px;
    background-color: #707070;
}

.murver {
    width: 5px;
    height: 50px;
    background-color: rgba(226, 167, 46, 0.90);
}
.murhor {
    width: 50px;
    height: 5px;
    background-color: rgba(226, 167, 46, 0.90);
}

#quadrillage {
    margin: auto;
    width: 499px;
    height: 499px;
    border: #3B3B3B solid 2px;
    display: flex;
    flex-flow: row wrap;
}

.pion1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: blue;
}

.pion2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
}

